.Header{
    display: flex;
    justify-content: space-between;
    grid-area: header;
    background-color: rgb(145, 69, 168);
    border: 1px black solid;
    
  }
  .Header img{
    width: 5%;
  }

  .Login{
    margin-right: 10px;
  }