.App {
  min-width: 600px;
  min-height: 600px;
  display: grid;
  text-align: center;
  grid-template-areas: 
  "header header"
  "nav cont";
  grid-template-columns: 20% 70%;
  grid-template-rows: 10% 80%;
  grid-gap: 5px;

}



