.NavBar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-area: nav;
    background-color: rgb(190, 167, 212);
    border: 1px black solid;
    
  }
.item{
  font-style: italic;
}
.item.activebutton{
  font-style: normal;
}
.friends{
  border-radius: 10px;
}
.friends img{
  width: 20px;

}